name: Test Dev Container

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test-devcontainer:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Dev Container CLI
        run: npm install -g @devcontainers/cli

      - name: Build Dev Container
        run: devcontainer build --workspace-folder . --config .devcontainer/devcontainer.json --skip-mounts

      - name: Start Dev Container
        run: devcontainer up --workspace-folder . --config .devcontainer/devcontainer.json --skip-mounts

      - name: Run test command inside container
        run: devcontainer exec --workspace-folder . --config .devcontainer/devcontainer.json
